{% extends 'base_admin.html' %} 

{% block title %}Admin Pop Up Users{% endblock %}

{% block content %}
    <header id="admin-menu">
        <div class="logo">
            <h2>POP UP NEWS</h2>
        </div>

        <div class="admin-items">
            <li><i class="fa-solid fa-newspaper"></i><a href="#">GNews Api Articles</a></li>
            <li><i class="fa-solid fa-users"></i><a href="#">Users</a></li>
            <li><i class="fa-solid fa-user-astronaut"></i><a href="#">Artists</a></li>
            <li><i class="fa-solid fa-box-archive"></i><a href="#">Databased Articles</a></li>

        </div>
    </header>
{% endblock%}