{% extends 'base.html' %} {% block title %}POP UP ARTISTS{% endblock %} {% block
content %}

<div class="page-width-sizing mt2rem">
    <h2 class="text-center">All Artists</h2>
    <div class="all-artists-div">
        {%for artist in artists %}

        <div class="one-artist">
            <a href="/artists/{{artist.id}}"><img src="{{artist.picture}}" /></a>
            <a href="/artists/{{artist.id}}" class="links">
                <p class="text-center">{{artist.name}}</p>
            </a>
        </div>
        {%endfor%}
    </div>
    <div class="pagination">
        <a href="/artists">&laquo;</a>
        {% if has_prev %}
        <a href="/artists/page/{{ prev_page }}">Previous</a>
        {% endif %}

        {% for page_num in range(1, total_pages + 1) %}
        {% if page_num == current_page %}
        <a class="active">{{ page_num }}</a>
        {% else %}
        <a href="/artists/page/{{ page_num }}">{{ page_num }}</a>
        {% endif %}
        {% endfor %}
        {% if has_next %}
        <a href="/artists/page/{{ next_page }}">Next</a>
        {% endif %}
        <a href="/artists/page/{{ total_pages }}">&raquo;</a>
    </div>
</div>

<div class="page-width-sizing">
    <h3 class="text-center">Dont See Your Favorite Artists?</h3>
    <div class="search-div">
        <form class="styled_search_form" method="get" action="/artist/search">
            <input type="text" placeholder="Look up an artist to add" name="artist_name" />
            <button type="submit">Search</button>
        </form>
        {% if searchPage %}
        <h2 class="text-center">Results for {{artist_name}}</h2>
        {% if searchedArtist %}
        <div class="all-artists-div">
            <form class="one-artist" method="post" action="/artist/add">
                <img src="{{searchedArtist.strArtistThumb}}" />
                <div class="text-center">
                    <p>{{searchedArtist.strArtist}}</p>
                </div>

                <input type="hidden" name="picture" value="{{searchedArtist.strArtistThumb}}" />
                <input type="hidden" name="bio" value="{{searchedArtist.strBiographyEN}}" />
                <input type="hidden" name="name" value="{{searchedArtist.strArtist}}" />
                <button>Add</button>
            </form>
        </div>
        {% else %}
        <div class="text-center">No results found</div>
        {% endif %} {% endif %}
    </div>
</div>

{% endblock %}