{% extends 'base.html' %} {% block title %}Pop Up Articles{% endblock %} {%
block content %}
<div>

    <div class="dark-main-container nav-bar-space">
        <article class="page-width-sizing dark-main-content">
        <div class="half-content">
            <a href="/articles/{{featured[0].id}}">
                <img src="{{featured[0].image}}"
                alt="featured article pic" />
            </a>
        </div>
        <div class="half-content">
            <a href="/articles/{{featured[0].id}}" class="links text-white">
                <h1>
                    {{featured[0].title}}
                </h1>
            </a>
            <p>
                {{featured[0].description}}
            </p>
            <p>{{featured[0].source_url}}</p>
        </div>
    </article>
</div>

<!-- Featured Articles -->
<h2 class="text-center mt2rem">Featured Articles</h2>
<div class="page-width-sizing small-4-featured mt2rem">
    {% for article in featured[1:5] %}
    <article>
        <div>
            <img src="{{article.image}}" />
        </div>
        <div class="small-featured-article-info">
            <h1 class="text-center text-smaller-on-med">
                {{article.title}}
            </h1>
            <p class="text-center">{{article.source_url}}</p>
        </div>
    </article>
    {%endfor%}
</div>

<!-- All ARTICLES -->
<div class="mt3rem">
    <div class="page-width-sizing all-articles" id="articles-container">
        <h2>All Pop Up News Articles</h2>
        {% for article in articles %}
        <article class="article-box">
            <div class="articles-img-box">
                <img
                src="{{article.image}}" />
            </div>
            <div class="articles-info">
                <h1>{{article.title}}</h1>
                <p>{{article.source_name}}</p>
                <p>{{article.published_at}}</p>
            </div>
        </article>
        {%endfor%}
        <div class="pagination">
            <a href="/articles">&laquo;</a>
            {% if has_prev %}
            <a href="/articles/page/{{ prev_page }}">Previous</a>
            {% endif %}
            
            {% for page_num in range(1, total_pages + 1) %}
            {% if page_num == current_page %}
            <a class="active">{{ page_num }}</a>
            {% else %}
            <a href="/articles/page/{{ page_num }}">{{ page_num }}</a>
            {% endif %}
            {% endfor %}
            {% if has_next %}
            <a href="/articles/page/{{ next_page }}">Next</a>
            {% endif %}
            <a href="/articles/page/{{ total_pages }}">&raquo;</a>
        </div>
    </div>
    <div class="page-width-sizing"></div>
</div>
</div>

{% endblock %}