<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="https://kit.fontawesome.com/fbe3633b01.js" crossorigin="anonymous"></script>
    <!-- Swiper carousel -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    
</head>

<body>
    <nav id="navbar">
        <div id="top-nav">
            <div class="menu-button" id="menu-button" onclick="toggleNavLinks()">
                <i class="fa fa-bars"></i>
            </div>
            <h1 id="PopUpNews-Logo"><a href="/dashboard">POP UP NEWS</a></h1>
        </div>
        <div id="bottom-nav">
            <div id="nav-links">
                <ul>
                    <li><a href="/users/{{session['userid']}}">My Page</a></li>
                    <li><a href="/user/feed">Your Feed</a></li>
                    <li><a href="/articles">Articles</a></li>
                    <li><a href="/artists">Artists</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
        <div id="modal-links" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <ul>
                    <li><a href="/users/{{session['userid']}}">My Page</a></li>
                    <li><a href="/user/feed">Your Feed</a></li>
                    <li><a href="/articles">Articles</a></li>
                    <li><a href="/artists">Artists</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <div id="push"></div>
    <footer id="footer">
        <div class="page-width-sizing">

            <a href="#top-nav"
            class="mt3rem">Back To Top</a>
        </div>
        <div class="page-width-sizing">
            <p class="mt3rem">
                @Copyright Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi vel tempore a dolore placeat animi!
                Suscipit, perferendis repudiandae. Harum repellat reprehenderit dolor labore tempore id magni animi eos!
                Corrupti, rerum!
            </p>
        </div>
    </footer>
    

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>