<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    
    <nav>
        <div id="topNav">
            <h1 id="PopUpNewsLogo"><a href="/dashboard">POP UP NEWS</a></h1>
        </div>
        <div id="bottomNav">
            <div id="navLinks">
                <ul>
                    <li><a href="/profile">My Page</a></li>
                    <li><a href="/user/feed">Your Feed</a></li>
                    <li><a href="/articles">Articles</a></li>
                    <li><a href="/artists">Artists</a></li>
                </ul>
            </div>
        </div>
    </nav>
    

    
    {% block content %}{% endblock %}
    
</body>

</html>