{% extends 'base.html' %} {% block title %}Pop Up News{% endblock %} {% block
content %}
<div class="main-content">
    <!-- Top Div -->
    <div class="grid-container-12 page-width-sizing">
        <div class="grid-row-3-first border-right">
            <div class="user-widget">
                <img src="{{ url_for('static', filename='imgs/johntran1.jpg') }}" class="user-pic" />
                <p>DatGuy</p>
                <p># of Favorite Artists</p>
                <p># of Favorite Articles</p>
            </div>
        </div>
        <div class="grid-span-6 border-right">
            <article class="border-bottom">
                {% if featured %}
                <a href="/articles/{{featured[0].id}}" >
                    <img src="{{featured[0].image}}" width="100%" />
                </a>

                <h1>
                    <a href="/articles/{{featured[0].id}}" class="links">{{featured[0].title}}</a>

                </h1>
                <p>{{featured[0].source_name}}</p>
                <p>{{featured[0].published_at}}</p>
                <div>
                    {{featured[0].likes}}
                    <i class="fa-solid fa-thumbs-up"></i>
                    145<i class="fa-solid fa-comment"></i>
                </div>
                {% endif %}
            </article>
        </div>
        <div class="grid-start-4">
            <article class="grid-container-6  border-right">
                <div class="grid-span-3">
                    {% if featured %}
                    <h2>
                        <a href="/articles/{{featured[1].id}}" class="links">{{featured[1].title}}</a>
                    </h2>
                    <p>{{featured[1].source_name}}</p>
                    <p>{{featured[1].published_at}}</p>
                    <div>
                        {{featured[1].likes}}
                        <i class="fa-solid fa-thumbs-up"></i>
                        145<i class="fa-solid fa-comment"></i>
                    </div>
                </div>
                <div class="grid-span-3">
                    <a href="/articles/{{featured[1].id}}" >

                        <img src="{{featured[1].image}}" width="100%" />
                    </a>
                </div>
                {%endif%}
            </article>
        </div>
        <div class="grid-row-end-2">
            <h3>Top Articles</h3>
            <hr />
            {% for article in articles[:4] %}
            <article class="top-articles">
                <div>
                    <p>{{article.title}}</p>
                    <p>{{article.source_name}}</p>
                    <div>
                        {{article.likes}}
                        <i class="fa-solid fa-thumbs-up"></i>
                        145<i class="fa-solid fa-comment"></i>
                    </div>
                    <hr>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
    <hr class="page-width-sizing mt3rem" />

    <div class="page-width-sizing popular-artist-div">
        <h2>POPular Artists</h2>
    </div>
    <!-- Middle div Most liked artists -->
    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            {% for artist in artists %}
            <div class="swiper-slide">
                <div class="artist-img-container">
                    <a href="/artists/{{artist.id}}"><img src="{{artist.picture}}" /></a>
                    <a href="/artists/{{artist.id}}" class="links"><p class="text-center">{{artist.name}}</p></a>
                </div>
            </div>
            {%endfor%}
        </div>

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

    <div class="mt3rem">
        <div class="page-width-sizing all-articles">
            <h2>Pop Up Music News Favored Articles</h2>
            {% for article in articles %}
            <article class="article-box">
                <div class="articles-img-box">
                    <a href="/articles/{{article.id}}">
                        <img src="{{article.image}}" alt="article image" />
                    </a>
                </div>
                <div class="articles-info">
                    <h1>
                        <a href="/articles/{{article.id}}" class="links">{{article.title}}</a>
                    </h1>

                    <p>{{article.source_name}}</p>
                    <p>{{article.description}}</p>
                    <div>
                        {{article.likes}}
                        <i class="fa-solid fa-thumbs-up"></i>
                        145<i class="fa-solid fa-comment"></i>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
        <div class="page-width-sizing"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}