{% extends 'base.html' %} {% block title %}POP UP NEWS{% endblock %} {% block
content %}
<div class="main-content">
    <div class="grid-container-12">
        <div class="grid-span-3 user-widget">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut
            accusantium, hic saepe asperiores aspernatur ullam, facilis soluta
            vel qui pariatur error accusamus iste iure magni itaque, adipisci
            porro tempora.
        </div>
        <div class="grid-span-6">
            <article>
                <img
                    src="https://media.pitchfork.com/photos/6301afc50aff42ca4564a00c/2:1/w_1600,c_limit/drake.jpg"
                    width="100%"
                />
                <h1>
                    Drake Announces Release Date for New Album For All the Dogs
                </h1>
                <p>www.pitchfork.com</p>
                <p>September 6, 2023</p>
            </article>
        </div>
        <div class="grid-span-3">
            <h3>Top Articles</h3>
            <hr>
            {% for i in range(4) %}
            <article>
                <h1>Article title</h1>
                <p>website</p>
                <hr>
            </article>
            {% endfor %}
        </div>
        <div class="grid-start-4">
            <article class="grid-container-6">
                <div class="grid-span-3">
                    <h2>The Rolling Stones Detail Hackney Diamonds, First New Album of Originals in 18 Years</h2>
                    <p>www.pitchfork.com</p>
                    <p>September 5, 2023</p>
                </div>
                <div class="grid-span-3">
                    <img
                        src="https://media.pitchfork.com/photos/64f88808c7986e9af64dbb28/2:1/w_1600,c_limit/The-Rolling-Stones.jpg"
                        width="100%"
                        
                    />
                </div>
            </article>
        </div>
    </div>
</div>

{% endblock %}
