{% extends 'base.html' %} {% block title %}POP UP NEWS{% endblock %} {% block
content %}
<div class="main-one-article">
    <div class="page-width-sizing">
        <p>News</p>
        <h1>
            Man Arrested and Charged in Tupac Shakur Murder Case in Surprise
            Breakthrough
        </h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio
            perferendis provident, modi veritatis doloribus natus porro minima
            laborum exercitationem vel aut explicabo inventore itaque libero
            quibusdam voluptas consequuntur placeat esse!
        </p>
        <p>www.pitchfork.com</p>
        <img src="https://media.pitchfork.com/photos/65170503aa5a83c358c98525/2:1/w_1920,c_limit/Tupac-Shakur-2Pac.jpg" alt="tupac" width="100%" height="400px"/>
    </div>
</div>
{% endblock %}
