{% extends 'base.html' %} {% block title %}POP UP NEWS{% endblock %} {% block
content %}
<div class="main-one-article">
    <div class="page-width-sizing">
        <p class="padding-top-2">News</p>
        <h1 class="padding-top-2 article-title">
            {{article.title}}
        </h1>
        <div class="red-line padding-top-2"></div>
    </div>
    <div class="page-width-sizing">
        <div id="main-one-article">
            <div id="left-one-article">
                <p class="padding-top-2">
                    {{article.description}}
                </p>
                <div class="padding-top-2">
                    <p>{{article.source_url}}</p>
                    <p>{{article.published_at}}</p>
                </div>
                <div>
                    
                    <div class="mt1rem">
                        <p>
                            {{article.likes}} Likes 145 Comments
                        </p>
                        <div class="like-comment-div">
                            {% if session['userid'] not in article.user_likes %}
                            <form action="/articles/like/{{article.id}}" method="POST">
                                <button class="like-btn"><i class="fa-solid fa-thumbs-up"></i> Like</button>
                            </form>
                            {% else %}
                            <form action="/articles/unlike/{{article.id}}" method="POST">
                                <button class="like-btn"><i class="fa-solid fa-thumbs-up"></i> Unlike</button>
                            </form>
                            {% endif %}
                            <a href="#Comments"><button class="like-btn"><i class="fa-solid fa-comment"></i>Comment</button></a>
                        </div>
                    </div>

                </div>
                <img
                    src="{{article.image}}"
                    alt="tupac"
                    class="one-article-page-img mt2rem"
                />

                <div id="article-content" class="padding-top-2">
                    {{article.content}}
                </div>
                <div class="padding-top-2">
                    <h3 id="Comments">Comments</h3>
                    <hr />
                    {% for i in range(5) %}
                    <div class="one-comment mt2rem">
                        <div>
                            <img
                                src="{{ url_for('static', filename='imgs/johntran1.jpg') }}"
                                alt="userpic"
                                class="user-pic-smaller"
                            />
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Neque perferendis animi deleniti expedita
                            cupiditate voluptatibus eligendi, earum est nemo
                            quasi maxime incidunt provident laudantium sapiente
                            magni et exercitationem natus. Eligendi?
                            <div>
                                123
                                <i class="fa-solid fa-thumbs-up"></i>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="comment-form mt2rem">
                        <form>
                            <div>

                                <img
                                src="{{ url_for('static', filename='imgs/johntran1.jpg') }}"
                                alt="userpic"
                                class="user-pic-smaller"
                                />
                            </div>
                            <div class="comment-input-div">
                                <label for="comment"></label>
                                <textarea name="comment" placeholder="Add Comment...." class="comment-box" rows="5"></textarea>
                                <button type="submit">Add Comment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="right-one-article"></div>
        </div>
    </div>
</div>
{% endblock %}
