{% extends 'base.html' %} {% block title %}POP UP NEWS{% endblock %} {% block
content %}

<div class="top-content-userpage nav-bar-space">
    <div class="left-block-userpage">
        <div class="user-widget">
            <img src="{{ url_for('static', filename='imgs/johntran1.jpg') }}" class="user-pic mt2rem" />
            <p>{{user.first_name}} {{user.last_name}}</p>
            <p>{{user.favorite_artists|length}} Favorited Artists</p>
            <p>{{user.liked_articles|length}} Liked Articles</p>
            <div class="">
                <i class="fa-solid fa-square-plus"></i>
                Add Friend
            </div>
        </div>
    </div>
    <div class="right-block-userpage">
        <h2 class="text-center">{{user.username}}'s Favorite Artists</h2>
        <div class="fav-artists-userpage">
            {% if user.favorite_artists %}
            {% for artist in user.favorite_artists %}
            <div class="one-artist">
                <img src="{{artist.picture}}" />
                <div class="text-center">
                    <p>{{artist.name}}</p>
                </div>
            </div>
            {%endfor%}
            {%else%}
            <div>No favorite artists yet</div>
            {%endif%}
        </div>
        <!-- <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
        </div> -->
    </div>
</div>
<div class="all-articles div page-width-sizing padding-top-2">
    <h2 class="text-center">Liked Articles</h2>
    {% for article in user.liked_articles%}
    <article class="article-box">
        <div class="articles-img-box">
            <a href="/articles/{{article.id}}">
                <img src="{{article.image}}" alt="article image" />
            </a>
        </div>
        <div class="articles-info">
            <h3>
                <a href="/articles/{{article.id}}" class="links">{{article.title}}</a>
            </h3>

            <p>{{article.source_name}}</p>
            <p>{{article.description}}</p>
            
        </div>
    </article>
    {%endfor%}
</div>

{% endblock %}