{% extends 'base.html' %}

{% block title %}POP UP NEWS{% endblock %}

{% block content %}

<div class="dark-main-container">
    <div class="page-width-sizing dark-main-content">
        <div class="half-content">
            <img src="{{artist.picture}}" alt="artist pic">
        </div>
        <div class="half-content">
            <h1>{{artist.name}}</h1>
            <p>
                Hip Hop/Rap
            </p>
            <p>{{artist.bio}}</p>
            <p><button>Favorite</button></p>
        </div>

    </div>
</div>

<!-- All ARTICLES -->
<div class="mt3rem">
    <div class="page-width-sizing all-articles">
        <h2>Latest {{artist.name}} News Articles</h2>
        <div>

            <label for="genre">Genre: </label>
            <select class="genre-select">
                <option>All</option>
                <option>Hip Hop/Rap</option>
                <option>Pop</option>
                <option>Rock</option>
                <option>Alternative</option>
                <option>Rock</option>
                <option>Electronic</option>
                <option>Jazz</option>
                <option>Metal</option>
            </select>
        </div>
        {% for article in articles%}
        <article class="article-box">
            <div class="articles-img-box">
                <img
                    src="{{article.image}}" />
            </div>
            <div class="articles-info">
                <h1>{{article.title}}</h1>
                <p>{{article.source.name}}</p>
                <p>{{article.publishedAt}}</p>
                <p>23 <i class="fa fa-thumbs-up"></i> 100<i style='font-size:24px' class='far'>&#xf075;</i></p>
            </div>
        </article>
        {%endfor%}

    </div>
    <div class="page-width-sizing">

    </div>
</div>


{% endblock %}