{% extends 'base.html' %}

{% block title %}POP UP NEWS{% endblock %}

{% block content %}

<div class="dark-main-container nav-bar-space">
    <div class="page-width-sizing dark-main-content">
        <div class="half-content">
            <img src="{{artist.picture}}" alt="artist pic">
        </div>
        <div class="half-content">
            <h1>{{artist.name}}</h1>
            <p>
                {% if artist.id in user.favorite_artists_ids %}
                <form action="/artists/unfavorite/{{artist.id}}" method="POST">
                    <input type="hidden" value="TRUE" name="favorite">
                    <button>Remove from Favorites</button>
                    
                </form>
                {% else %}
                <form action="/artists/favorite/{{artist.id}}" method="POST">
                    <input type="hidden" value="FALSE" name="favorite">
                    <button>Favorite</button>
                    
                </form>
                
                {%endif%}
            </p>
            <p>{{artist.bio}}</p>
        </div>

    </div>
</div>

<!-- All ARTICLES -->
<div class="mt3rem">
    <div class="page-width-sizing all-articles">
        <h2>Latest {{artist.name}} News From Around The Web</h2>
        
        {% for article in articles%}
        <article class="article-box">
            <div class="articles-img-box">
                <img
                    src="{{article.image}}" />
            </div>
            <div class="articles-info">
                <h1><a href="{{article.url}}" class="links" target="_blank">{{article.title}}</a></h1>
                <p>{{article.source.name}}</p>
                <p>{{article.publishedAt}}</p>
            </div>
        </article>
        {%endfor%}

    </div>
    <div class="page-width-sizing">

    </div>
</div>


{% endblock %}