{% extends 'base.html' %}

{% block title %}POP UP NEWS{% endblock %}

{% block content %}

<div class="dark-main-container">
    <div class="page-width-sizing dark-main-content">
        <div class="half-content">
            <img src="https://www.theaudiodb.com/images/media/artist/thumb/vpxqtu1484769349.jpg" alt="artist pic">
        </div>
        <div class="half-content">
            <h1>Drake</h1>
            <p>
                Hip Hop/Rap
            </p>
            <p>BIO Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores necessitatibus neque in quo
                molestias aspernatur illo porro, architecto iusto explicabo nihil totam perferendis? Quia qui sunt
                voluptatum numquam exercitationem laborum!</p>
            <p><button>Favorite</button></p>
        </div>

    </div>
</div>

<!-- All ARTICLES -->
<div class="mt3rem">
    <div class="page-width-sizing all-articles">
        <h2>Latest Drake News Articles</h2>
        <div>

            <label for="genre">Genre: </label>
            <select class="genre-select">
                <option>All</option>
                <option>Hip Hop/Rap</option>
                <option>Pop</option>
                <option>Rock</option>
                <option>Alternative</option>
                <option>Rock</option>
                <option>Electronic</option>
                <option>Jazz</option>
                <option>Metal</option>
            </select>
        </div>
        {% for i in range(10)%}
        <article class="article-box">
            <div class="articles-img-box">
                <img
                    src="https://media.pitchfork.com/photos/64f8d0b343ca374d323ca845/master/w_1600,c_limit/Olivia-Rodrigo.jpg" />
            </div>
            <div class="articles-info">
                <h1>Olivia Rodrigo to Perform at VMAs 2023</h1>
                <p>www.pitchfork.com</p>
                <p>September 3, 2023</p>
                <p>23 <i class="fa fa-thumbs-up"></i> 100<i style='font-size:24px' class='far'>&#xf075;</i></p>
            </div>
        </article>
        {%endfor%}

    </div>
    <div class="page-width-sizing">

    </div>
</div>


{% endblock %}