@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Headland+One&display=swap");

/* Custom properties */
/* BASE ADMIN */

body{
    width: 100%;
    background: #E5E7EB;
    position: relative;
    display: flex;
}
.dflex{
    display:flex;
}
#admin-menu{
    background-color: #2b2b2b;
    width: 300px;
    height: 100%;
}

.logo{
    display: flex;
    align-items: center;
    padding: 30px 0 0 30px;
}

.logo h2{
    color: #fff;
}

.admin-items{
    margin-top: 40px;
}

.admin-items li{
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
}

.admin-items li:hover{
    background-color: #253047;
    cursor: pointer;
}

.admin-items li:nth-child(1){
    border-left: 4px solid #fff;
}


.admin-items li i{
    color: rgb(134,141,151);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    margin: 0 10px 0 25px;
}

.admin-items li:hover i,
.admin-items li:hover a{
    color: #f3f4f6;
}

.admin-items li a{
    text-decoration: none;
    color: rgb(134,141,151);
    font-weight: 300px;
    transition: 0.3s ease;
}

/* BASE ADMIN */

/* ADMIN USERS */

.user-pic-50 {
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#content-admin{
    width: calc(100% - 300px);
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#fff;
    padding: 15px 30px;
    border-bottom: 3px solid black;
}

.search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #d7dbe6;
    border-radius: 4px;
}


.search input{
    border: none;
    outline: none;
    font-size: 14px;
}


.search i{
    margin-right: 14px;
}


.profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile i{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}