@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');

/* Custom properties */


* {
    margin: 0;
    padding: 0;
    font-family: 'Headland One', serif;
    box-sizing: border-box;
}

/* BASE.HTML */

#topNav {
    width: 100vw;
    height: 125px;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottomNav{
    width: 100vw;
    height:40px;
    background-color: black;
    border-top: 1px solid white;
    display:flex;
    align-items: center;
    justify-content: center;
}

#navLinks{
    width:50%;
}
#navLinks ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
#navLinks ul li a{
    
    color: #b3b3b3;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
}


#PopUpNewsLogo a{
    color: white;
    font-size: 3rem;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
}

/* BASE.HTML END */
/* DASHBOARD.HTML */

.mt3rem{
    margin-top:3rem;
}

.page-width-sizing{
    width: min(85%,100rem);
    margin-inline: auto;
    
}

.main-content{
    margin-top: 3rem;
}

.grid-container-12{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.grid-container-6{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    gap:1rem;
}

.grid-span-3{
    grid-column: span 3;
}
.grid-span-6{
    grid-column: span 6;
}

.user-widget{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.user-widget img{
    display: inline-block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.grid-start-4{
    grid-column-start: 4;
    grid-column-end: 10;
}

.grid-row-end-2{
    grid-column-start: 10;
    grid-column-end: 13 ;
    grid-row-start: 1;
    grid-row-end: 3;
    
}

.top-articles{
    margin-top: 1rem;
    height: 100px;
}

.swiper {
    width: min(85%,100rem);
    height: 300px;
}

.artist-img-container{
    width:200px;
    height: 200px;
    margin-inline: auto;
}

.artist-img-container img{
    width: 100%;
}

.popular-artist-div h2{
    margin:1rem auto;
}

.article-box{
    height:200px;
    
    width: 70%;
    display: flex;
    gap:3rem;
}

.all-articles{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.articles-img-box{
    width:50%;
    
    
}
.articles-img-box img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}

.articles-info{
    width: 50%;
    background-color: aliceblue;
}
/* DASHBOARD.HTML END*/

