@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');

/* Custom properties */


* {
    margin: 0;
    padding: 0;
    font-family: 'Headland One', serif;
    box-sizing: border-box;
}



/* BASE.HTML */

#top-nav {
    width: 100vw;
    height: 125px;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom-nav {
    width: 100vw;
    height: 40px;
    background-color: black;
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-links {
    width: 50%;
}

#nav-links ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#nav-links ul li a {

    color: #b3b3b3;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
}

#nav-links ul li a:hover {

    color: white;

}


#PopUpNews-Logo a {
    color: white;
    font-size: 3rem;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
}

#PopUpNews-Logo a:hover {
    font-size: 3.1rem;


}

#footer {
    margin-top: 3rem;
    min-width: 100%;
    height: 200px;
    background-color: black;
    margin-bottom: -200px;
}

#push {
    height: 200px;
}

#footer div {
    display: flex;
    justify-content: center;
}

#footer div p {
    color: #b3b3b3;
}

/* BASE.HTML END */
/* DASHBOARD.HTML */

.mt3rem {
    margin-top: 3rem;
}

.page-width-sizing {
    width: min(85%, 100rem);
    margin-inline: auto;

}

.main-content {
    margin-top: 3rem;
}

.grid-container-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.grid-container-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

.grid-span-3 {
    grid-column: span 3;
}

.grid-span-6 {
    grid-column: span 6;
}

.user-widget {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.user-widget img {
    display: inline-block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.grid-start-4 {
    grid-column-start: 4;
    grid-column-end: 10;
}

.grid-row-end-2 {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;

}

.top-articles {
    margin-top: 1rem;
    height: 100px;
}

.swiper {
    width: min(85%, 100rem);
    height: 300px;
}

.artist-img-container {
    width: 200px;
    height: 200px;
    margin-inline: auto;
}

.artist-img-container img {
    width: 100%;
}

.popular-artist-div h2 {
    margin: 1rem auto;
}

.article-box {
    height: 200px;

    width: 70%;
    display: flex;
    gap: 3rem;
}

.all-articles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.articles-img-box {
    width: 50%;

}

.articles-img-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;

}

.articles-info {
    width: 50%;
    background-color: aliceblue;
}

/* DASHBOARD.HTML END*/

/* ARTICLES PAGE */
.dark-main-container {
    width: 100%;
    
    background-color: #2b2b2b;
    display: flex;
    align-items: center;
    
}


.half-content {
    height: 100%;
    color: white;
    object-fit: cover;



@media screen and (min-width: 768px) {
    .dark-main-content {
        display: flex;
        
    }

    .half-content {
        width: 50%;
        height: 25rem;
        object-fit:contain;
        display:flex;
        align-items: center;
    }

    .half-content:last-child {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 3rem;
        flex-wrap: auto;
    }
}


.text-center {
    text-align: center;
}

.text-smaller-on-med {
    font-size: large;
}

.half-content img {
    width: 100%;
    height: 80%;
    object-fit: contain;
}



.small-4-featured {
    display: flex;
    justify-content: space-between;
}

.small-4-featured>article {
    width: 18rem;
}

.small-4-featured article div img {
    width: 100%;
}

.small-featured-article-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.genre-select {
    width: 10rem;
}

/* ARTICLES PAGE END */

/* YOUR FEED */
.mt2rem {
    margin-top: 2rem;
}

.filter-button {
    font-size: 1.1rem;
    padding: .3rem;
    border-radius: 0.5rem;
    background-color: #2b2b2b;
    color: #f7f7f7;
}

.filter-button:hover {
    background-color: black;
}

/* YOUR FEED END */


/* ALL ARTISTS PAGE */
.search-div {
    width: 100%;


}

.search-artist-form {
    margin-top: 1rem;
    margin-inline: auto;
    width: 300px;
}

.search-artist-form input {
    padding: 10px;
    border-radius: .5rem;
}

.search-artist-form button {
    padding: 10px;
    border-radius: .5rem;
    background-color: #2b2b2b;
    color: whitesmoke;
}

.all-artists-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}
.one-artist {
    width: 200px;
    height: 250px;
    background-color: blanchedalmond;
}

@media screen and (max-width:480px){
    .one-artist{   
        width: 45%;
        height: 250px;
        background-color: blue;
    }
}

.one-artist img{
    width: 100%;
    height: 200px;

    object-fit: cover;
}

.artist-info .text-center{
    display: flex;
    flex-wrap: auto;
}

.search-results{
    width: 100%;
}

.pagination{
    width: fit-content;
    margin: 1rem auto;

}

/* Pagination links */
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    
}

/* Style the active/current link */
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* ALL ARTISTS PAGE END */
/* SINGLE ARTIST PAGE */



/* SINGLE ARTIST PAGE End */
=======
.small-4-featured{
    display:flex;
    justify-content: space-between;
}
.small-4-featured > article{
    width:18rem;
}
.small-4-featured article div img{
    width: 100%;
}

.small-featured-article-info{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.genre-select{
    width: 10rem;
}

/* ARTICLES PAGE END */

/* YOUR FEED */
.mt2rem{
    margin-top: 2rem;
}

.filter-button{
    font-size: 1.1rem;
    padding: .3rem;
    border-radius: 0.5rem;
    background-color: #2b2b2b;
    color: #f7f7f7;
}
.filter-button:hover{
    background-color: black;
}

/* YOUR FEED END */

/* ALL ARTISTS PAGE */
.search-div{
    width: 100%;

}

.search-artist-form{
    margin-top: 1rem;
    margin-inline: auto;
    width: 300px;
}
.search-artist-form input{
    padding: 10px;
    border-radius: .5rem;
}
.search-artist-form button{
    padding: 10px;
    border-radius: .5rem;
    background-color: #2b2b2b;
    color: whitesmoke;
}

.all-artists-div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.one-artist{
    flex: 0 1 auto;
    width: 200px;
    height: 200px;
    background-color: blanchedalmond;
}

/* ALL ARTISTS PAGE END */

