
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Courier+Prime&family=Roboto:wght@500&family=Rubik+Distressed&display=swap');


body{
    background-color: rgb(241, 238, 238);
    
}

.onefour{
    font-size: 1.4em;
}

#font{
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Courier Prime', monospace;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Distressed', cursive;
}
.artist_title{
    width: 70vw;
    margin: 0 auto;
}
.artcolor{
    background-color: black;
    padding: 5px;
}

.artpagetext{
    color: white;
    text-decoration: none;
}

#navbox{
    width: 80vw;
}

.whitetext {
    color: white;
}

.navbar {
    background-color: black;
}
#leftart{
    width: 80vw;
    margin: 10px auto;
}

#mainbox {
    display: flex;
    justify-content: space-evenly;
}

.dojotitle{
    
    margin: 20px;
    text-align: center;
}

.bluebutton {
    background-color: blue;
    color: white;
}

.cleanerform {
    display: flex;
    flex-direction: column;
}

.codered {
    color: red;
}

.title{
    color: purple;
    margin: 20px 50px;
}

#artists {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70vw;
    gap: 50px;
}

#topnews{
    /* background-color: #3B1F2B; */
    width: 60vw;
}

#showartist{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#artistnews{
    width: 70vw;
    margin: 0 auto;
}

#favebox{
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70vw;
    gap: 50px;
    margin: 0 auto;
}


#articlepage{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 20px auto;
}